// Define colors in constants
$dark_blue: #141826;
$white: #f0eadd;
$light_yellow: #dcc197;
$yellow: #c79851;
$red: #c7462a;

// Define font family
$font-family: 'Ubuntu', sans-serif;

h1, h2, h3, h4, h5 {
  font-family: $font-family;
  color: $dark_blue;
}
