{% extends "base.html" %}

{% load static %}

{% block title %}Login / {{ block.super }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
{% endblock %}

{% block content %}
    <div id="login">
        <h2>Log In</h2>

        <form method="post">
            {% csrf_token %}
            {{ form }}

            <a href="{% url 'password_reset' %}" title="Password Reset">Password Reset</a>

            <button type="submit" title="Log In">Log In</button>
        </form>
    </div>
{% endblock %}
