
div.header_container {
    background-color: #202C39;
    width: 100%;
    height: 60px;
}

div.header_container img.header_logo {
    width: auto;
    height: 150px;
    margin: -46px 0 0 13px;
}

div.header_container img.header_logo:hover {
    cursor: pointer;
}

div.header_container div.logos_bouttons {
    position: absolute;
    top: 17px;
    right: 15px;
}

div.header_container div.logos_bouttons svg {
    font-size: 25px;
    padding: 0 7px;
}

div.header_container div.logos_bouttons svg:hover {
    cursor: pointer;
}

div.header_container div.logos_bouttons svg path {
    fill: white;
}

div.header_container div.logos_bouttons svg:hover path {
    fill: #FF9F1C;
}