{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
</head>

<body>
    <script src="{% static 'js/main.js' %}"></script>

    <header>
        <h3>Header</h3>

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'post_create' %}">Create Post</a></li>
                <li><a href="{% url 'personnals_posts' %}">My Posts</a></li>
                <li><a href="{% url 'favourites_posts' %}">My Favourites Posts</a></li>
                <li><a href="{% url 'personals_chats' %}">My Chats</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
            {% include "registration/logout.html" %}
        {% endif %}

        <br><hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <br><hr>

        <h3>Footer</h3>

        <ul>
            <li>Username : {{ user.username }}</li>
            <li>Name : {{ app_name }}</li>
            <li>Version : {{ app_version }}</li>
        </ul>
    </footer>
</body>

</html>
