{% extends "base.html" %}

{% block title %}Home / {{ block.super }}{% endblock %}

{% block content %}
    <h1>Rebook{% if user.is_authenticated %}, welcome {{ user.username }}{% endif %}</h1>

    <ul>
        {% for post in posts %}
            <li>
                <div>
                    <p>
                        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    </p>
                    <p>{{ post.description }}</p>
                    <p>Book : {{ post.book.title }} ({{ post.book.author }})</p>
                    <p>Seller : {{ post.seller }}</p>
                    <p>Price : {{ post.price }} €</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
