INSTANCE_NAME=${INSTANCE_NAME}

APP_VERSION=${APP_VERSION}
APP_PORT=${APP_PORT}

REBOOK_IMAGE=${REBOOK_IMAGE}

PYTHON_VERSION=${PYTHON_VERSION}

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

APP_NAME=Rebook
APP_DESCRIPTION=Website for refund school books

CONTACT_NAME=AureProd
CONTACT_EMAIL=aureprod0@gmail.com
CONTACT_WEBSITE=https://github.com/AureProd/rebook
