// import constants variables
@import '../../imports/constants';

div#profileInfos {
    $div_width: calc($width - 50%);

    margin: 50px auto;
    width: $div_width;

    > div {
        display: flex;
        justify-content: space-between;
        font-size: 150%;
        margin-bottom: 20px;
    }
}

div#changePassword {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    a {
        text-align: center;
    }
}
