{% extends "base.html" %}

{% block title %}Post / {{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <p>{{ post.description }}</p>

    <p>Seller : {{ post.seller }}</p>
    <p>Price : {{ post.price }} €</p>

    <p>Book : {{ post.book_title }}</p>
    <p>Author: {{ post.book_author }}</p>
    <p>Published: {{ post.book_published_at|date:"d-m-Y" }}</p>

    {% if post.image_1 %}<img src="{{ post.image_1.url }}" alt="{{ post.book.title }} first image">{% endif %}
    {% if post.image_2 %}<img src="{{ post.image_2.url }}" alt="{{ post.book.title }} second image">{% endif %}
    {% if post.image_3 %}<img src="{{ post.image_3.url }}" alt="{{ post.book.title }} third image">{% endif %}
{% endblock %}
