// import css reset file
@import '../imports/reset.scss';

// import constants variables
@import '../imports/constants';

body {
  font-family: $font-family;
  color: $dark_blue;
  background-color: $white;
}

header {
  background-color: $dark_blue;
  background-image: $texture_dark_blue;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: calc(100% - 20px);
  padding: 5px 20px 0 0;
  margin-bottom: 35px;
  text-align: center;

  > div#tabs {
    display: flex;
    justify-content: right;
    margin-top: 8px;

    > div {
      width: 60px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;

      &:hover {
        cursor: pointer;

        i {
          color: $yellow;
        }

        span {
          color: $yellow;
        }
      }

      i {
        font-size: 25px;
        margin-bottom: 9px;
        color: $white;
      }

      span {
        text-wrap: nowrap;
        color: $white;
      }
    }
  }

  > div#homeLink {
    height: 70px;
    margin-top: -3px;
    display: flex;
    justify-content: center;

    img {
      height: 100%;
    }

    img:hover {
      cursor: pointer;
      filter: invert(100%);
      transition: all 0.5s ease-in-out;
    }
  }
}

main {
  h1, h2, p {
    text-align: center;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 23px;
    margin-bottom: 60px;
  }

  button {
    text-wrap: nowrap;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: $yellow;
    border: 1px solid $dark_blue;
    color: $dark_blue;
    font-size: 23px;

    &:hover {
      cursor: pointer;
      background-color: $blue;
      color: $white;
    }
  }

  form {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    > div {
      display: flex;
      margin: auto;
      width: 300px;
      margin-bottom: 20px;
      text-wrap: nowrap;
      align-items: baseline;

      > label {
        width: 50%;
        text-align: left;
      }

      > input, > textarea {
        font-size: 20px;
        height: 30px;
        border-radius: 7px;
        text-align: center;
        border: 1px solid $dark_blue;

        &:required {
          border: 1px solid red;

          &:valid {
            border: 1px solid $dark_blue;
          }
        }
      }

      > input[type="file"] {
        padding: 5px;
      }

      > textarea {
        padding: 7px;
        resize: none;
        height: 100px;
        text-align: left;
      }
    }

    button {
      width: 100px;
      margin: auto;
      margin-top: 40px;
    }

    a {
      text-decoration: underline;
      font-size: 110%;
      color: $blue;

      &:hover {
        color: $yellow;
      }
    }
  }
}
