{% extends "base.html" %}

{% block title %}Reset Password / {{ block.super }}{% endblock %}

{% block content %}
    {% if validlink %}
        <h1>Reset Password</h1>

        <p>Please enter your new password twice to confirm it.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Reset Password">
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
