// Define colors in constants
$dark_blue: #232a43;
$blue: #498cff;
$white: #f1f1e6;
$beige: #f0eadd;
$yellow: #f9c741;

// Define textures files in constants
$texture_dark_blue: url('/static/textures/texture_dark_blue.png');

// Define font family in constants
$font-family: 'Ubuntu', sans-serif;
