// import constants variables
@import '../../imports/constants';

a#createPost {
    position: absolute;
    margin-left: 20px;
    top: 0;
    margin-top: 120px;
}

div#posts {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;

    > div {
        width: 30%;
        border: 1px solid $dark_blue;
        border-radius: 10px;
        background-color: $beige;
        text-align: center;
        margin-bottom: 40px;

        &:hover {
            color: $white;
            background-color: $dark_blue;
        }

        > div {
            padding: 10px;

            > a > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                > span {
                    margin-bottom: 10px;
                }

                > span.postTitle {
                    font-size: 150%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

div#pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;

    ul {
        display: flex;
        list-style: none;
        padding: 0;

        a, li.active, li.disabled {
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid $dark_blue;
            border-radius: 50%;
            background-color: $beige;

            &:hover {
                color: $white;
                background-color: $dark_blue;
            }

            &.previous, &.next {
                width: 50px;
                height: 50px;
            }

            &.active {
                background-color: $dark_blue;
                color: $white;
            }
        }

        li.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}
