// import constants variables
@import '../../imports/constants';

a#createPost {
    position: absolute;
    margin-left: 20px;
    top: 0;
    margin-top: 110px;
}

div#posts {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 30px;
    margin-bottom: 50px;

    > div {
        width: 100%;
        height: 250px;
        border: 1.5px solid $dark_blue;
        border-radius: 20px;
        background-color: $beige;
        overflow: hidden;

        &:hover {
            color: $white;
            background-color: $dark_blue;

            div.postInfos {
                div.postBook, span.postDescription {
                    border: 1.5px solid $white;
                }

                span.postPrice {
                    color: $yellow;
                }
            }

            > a div.postImage {
                border-right-color: $white;
            }
        }

        > a {
            display: flex;
            height: 100%;
            width: 100%;

            div.postImage {
                width: fit-content;
                max-width: 50%;
                display: flex;
                height: 100%;
                align-items: center;
                border-right-width: 1.5px;
                border-right-style: solid;
                border-right-color: $dark_blue;
                flex: none;

                > img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            div.postInfos {
                padding: 10px 15px;
                flex: 100%;

                span {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span.postTitle {
                    text-align: center;
                    font-size: 30px;
                }

                span.postDescription {
                    font-size: 20px;
                    margin-top: 20px;
                    height: 60px;
                    border: 1.5px solid $dark_blue;
                    border-radius: 20px;
                    padding: 10px;
                    margin-bottom: 20px;
                }

                > div {
                    display: flex;

                    div.postBook {
                        border: 1.5px solid $dark_blue;
                        border-radius: 20px;
                        padding: 10px;
                        width: 70%;

                        span.postBookAuthor {
                            margin-top: 5px;
                        }
                    }

                    span.postPrice {
                        width: 30%;
                        font-size: 30px;
                        color: $blue;
                        margin: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}

div#pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;

    ul {
        display: flex;
        list-style: none;
        padding: 0;

        a, li.active, li.disabled {
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 1px solid $dark_blue;
            border-radius: 50%;
            background-color: $beige;

            &:hover {
                color: $white;
                background-color: $dark_blue;
            }

            &.previous, &.next {
                width: 50px;
                height: 50px;
            }

            &.active {
                background-color: $dark_blue;
                color: $white;
            }
        }

        li.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}
